# APP
NODE_ENV="development"
NEXT_PUBLIC_APP_URL="https://localhost:3000"

# AUTHENTICATION (@ NEXT-AUTH)
# Secret can be generated with `openssl rand -base64 32`
# Follow instructions at https://codevoweb.com/nextjs-add-google-and-github-oauth2-using-nextauth-js/ to obtain client ids and secrets
AUTH_SECRET="" 
JWT_SECRET_KEY="" 

# https://console.developers.google.com/apis/credentials
GOOGLE_ID=""
GOOGLE_SECRET=""
# https://docs.github.com/es/apps/oauth-apps/building-oauth-apps/authorizing-oauth-apps
GITHUB_ID=""
GITHUB_SECRET=""

# DATABASE (POSTGRES)
DATABASE_URL=""

# EMAIL (@ RESEND)
RESEND_API_KEY=""
RESEND_EMAIL_FROM=""
RESEND_EMAIL_TO=""
RESEND_HOST=""
RESEND_USERNAME=""
RESEND_PORT=""

## CLOUDFLARE
CF_API_KEY=""
CF_ZONE_ID=""